<h2> Tracks:
  <%= erb :search_box %>
</h2>
<div class="tracks">
  <table class="table table-striped table-hover">
    <% tracks.each do |track| %>
    <tbody>
      <tr>
        <td class="data-row"><%= erb :"tracks/single", locals:{track: track} %></td>
      </tr>
    </tbody>
    <% end %>
</div>
