<h2> Artists:
  <%= erb :search_box %>
</h2>
<div class="artists">
  <table class="table table-striped table-hover">
    <% artists.each do |artist| %>
    <tbody>
      <tr>
        <td><%= erb :"artists/single", locals:{artist: artist} %></td>
      </tr>
    </tbody>
    <% end %>
</div>