<h2> Albums:
  <%= erb :search_box %>
</h2>
<div class="albums">
  <table class="table table-striped table-hover">
    <% albums.each do |album| %>
    <tbody>
      <tr>
        <td class="data-row">
          <h4><%= album.title %></h4>
          <%= erb :"albums/single", locals:{album: album} %>
        </td>
      </tr>
    </tbody>
    <% end %>
</div>
