<form action='/add_song' method='POST'>
  <input name='song[title]' type='text' placeholder='Song Title'> <br>
  <input name='song[artist]' type='text' placeholder='Song Artist'> <br>
  <input name='playlist' type='text' placeholder='Playlist'>
  <input type='submit'>
</form>
