<table style="centered" class="table table-striped table-hover">
  <tbody>
  <tr><td>
    <center><h3><a href="/track/<%= track.id%>"><%= track.title %></a></h3>
    <img src="<%= track.album.artwork_url %>"><br><br> <audio controls> <source src=<%=track.link%> type= "audio/mp4"></audio></center>
  </td></tr>
  </tbody></table>
