<% if session[:error] %>
<div class="alert alert-dismissable alert-danger">
	<center><p><%= session[:error] %></p></center>
</div>
<% session[:error] = nil %>
<% end %>
<br>
<br>
<br>

<form action="/login" method="POST" class="form-horizontal">
  <fieldset>
    <h2 class="single-track">Please Login</h2>
    <div class="form-group">
      <label for="inputEmail" class="col-md-2 control-label">Username:</label>
      <div class="col-md-5">
        <input type="text" class="form-control" name="username" placeholder="Username">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-md-2 control-label">Password:</label>
      <div class="col-md-5">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-5 col-md-offset-2">
        <button type="submit" class="btn btn-primary btn-lg">Login</button>
      </div>
    </div>
  </fieldset>
</form>

