<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
    </button>
    <a class="navbar-brand" href="/">Beax</a>
  </div>
		<% if session[:user_id] %>
		<ul class="nav navbar-nav navbar-left">
			<li><a href='/artists'>Artists</a></li>
			<li><a href="/albums">Albums</a></li>
			<li><a href='/tracks'>Tracks</a> </li>
    </ul>
    <% end %>


    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/logout">Logout</a></li>
    </ul>
</div>


