<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
    </button>
    <a class="navbar-brand" href="/">Beax</a>
  </div>
		<% if session[:user_id] %>
		<ul class="nav navbar-nav navbar-left">
			<li><a href='/artists' id='artists'>Artists</a></li>
			<li><a href='/albums' id='albums'>Albums</a></li>
			<li><a href='/tracks' id='tracks'>Tracks</a> </li>
    </ul>


    <ul class="nav navbar-nav navbar-right">
      <li><form action="/searchapi" method="POST" class="form-horizontal" id="artist_search">
          <input type="text" class="form-control search center-block" name="artist" placeholder="Artist Name">
          <button type="submit" class="btn btn-primary">Add</button>
      </form></li>
      <li class="active"><a href="/logout">Logout</a></li>
    </ul>
    <% end %>
</div>


