<br>
<br>
<br>
<div class="jumbotron" style='text-align: center;'>
<% if session[:user_id] %>

	<p>Welcome <%= session[:user_name] %>!</p>
<% end %>
  <h1>XiranSound</h1>
  <p>This is a simple site to organize your music needs.</p>
  <p><a href="/signup" class="btn btn-primary btn-lg" >Sign up</a> <a href="/login" class="btn btn-primary btn-lg">Login</a></p>
</div>

  <p>Welcome to soundcloud <%= user.username %>!</p>
<% else %>
  <p>Welcome to soundcloud!</p>
<% end %>

<a href="/signup">SignUp</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>

<% if session[:user_id] %>
  <%= erb :"playlists/all", locals:{playlists: playlists} %>
<% end %>