<div class="jumbotron" style='text-align: center;'>

<% if session[:user_id] %>
  <p>Welcome, <%= user.username %>!</p>
<% else %>
  <p>Welcome!</p>
  <h1>XiranSound</h1>
  <p>This is a simple site to organize your music needs.</p>
  <p><a href="/signup" class="btn btn-primary btn-lg" >Sign up</a></p>
<% end %>

</div>

<a href="/signup">Sign Up</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>

<a href='/artists'>Artists</a>
<a href='/tracks'>tracks</a>

<% if session[:user_id] %>
  <%= erb :"playlists/all", locals:{playlists: playlists} %>
<% end %>
