<% if session[:user_id] %>
  <p>Welcome to soundcloud <%= user.username %>!</p>
<% else %>
  <p>Welcome to soundcloud!</p>
<% end %>

<a href="/signup">SignUp</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>

<% if session[:user_id] %>
  <%= erb :"playlists/all", locals:{playlists: playlists} %>
<% end %>